   
/* principal settings */
.app{
    margin-top: 50px;
    margin-bottom: 55px;
}

*::-webkit-scrollbar{
    width: 7px;
}

*::-webkit-scrollbar-thumb{
      background: #2bbbad;
      border-radius: 10px;
}

.message{
    color: #2bbbad;
}

/* counter styles */
.counter{
    display: flex; 
    align-items: center;
}

.counter-panel{
    display: flex; 
    align-items: center;
}

.btn-player{
    width: 105px;
    font-size: 20px; 
    font-weight: 900;
    height: 45px;
}

/*big tricky styles*/
.game{
    display: flex;
}

.bigboard{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square{
    width: 100px;
    height: 100px;
    border:3px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px; 
    cursor: pointer;
    user-select: none;
    animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

.square:hover{
    background: rgba(238, 238, 238, 0.863);
}

.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
    border-bottom: none;
  }
.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
    border-top: none;
  }
.square:nth-child(1),.square:nth-child(4),.square:nth-child(7){
    border-left: none;
  }
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
    border-right: none;
  }

/* table styles */

.table-body{
    height: 200px;
    overflow: scroll;
  }

.btn-status{
    width: 100%;
    text-transform: uppercase;
}

.btn-finished{
    background: #28a745;
    color:white;
    font-size: 20px;
    box-shadow: none;
    width: 100%;
    height: 45px;
  }

.btn-finished:hover{
    background: #28a745 !important;
    color: white !important;
}

.btn-draw{
    background: #17a2b8;
    color:white;
    font-size: 20px;
    box-shadow: none;
    width: 100%;
    height: 45px;

}
.btn-draw:hover{
    background: #17a2b8 !important;
    color: white !important;
}
.btn-paused{
    background: #dc3545;
    color:white;
    font-size: 20px;
    box-shadow: none;
    width: 100%;
    height: 45px;
}
.btn-paused:hover{
    background: #dc3545 !important;
    color: white !important;
    
}

.paused,.finished{
    vertical-align: middle !important;
 }

/* minisquares */
.board{
    width:90px;
    display: flex;
    flex-wrap: wrap;
}

  .minisquare{
    width: 30px;
    height: 30px;
    border: 0.1px solid black; 
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minisquare:nth-child(7),.minisquare:nth-child(8),.minisquare:nth-child(9){
    border-bottom: none;
  }
.minisquare:nth-child(1),.minisquare:nth-child(2),.minisquare:nth-child(3){
    border-top: none;
  }
.minisquare:nth-child(1),.minisquare:nth-child(4),.minisquare:nth-child(7){
    border-left: none;
  }
.minisquare:nth-child(3),.minisquare:nth-child(6),.minisquare:nth-child(9){
    border-right: none;
  }

  /* control panel styles */

.control-panel{
    justify-content: center;
}
  
.btn-panel{
    width: 32%;
    margin: 5px;
    margin-top: 40px;
    background: #2bbbad;
    color: white;
    font-size: 25px;
    height: 50px;
    font-weight: 800;
  }